body {
  background-color: rgb(182, 227, 255);
  text-align: center;
  font-family: 'Lato', sans-serif;
}
svg {
  border-radius: 50px;
}
.successicon {
  margin-top: 30px;
}
.erroricon{
  border: 5px #ff4141 solid;
  margin-top: 30px;
}
.card {
  border: 1px lightgray solid;
  border-radius: 25px;
  width: 250px;
  height: 250px;
  box-shadow: 12px 12px 2px 1px #00000033;
  padding: 15px;
  margin: 50px;
  float: left;
  background-color: #ffffff;
}
p {
  margin: 15px;
}
button {
  padding: 15px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  background-color: #ffffff;
  margin: 25px;
}
.success button {
  border: 2px solid #0fd60f;
  border-radius: 15px;
  color: #0fd60f;
}
.error button {
  border: 2px solid #ff4141;
  border-radius: 15px;
  color: #ff4141;
}